//general
body
  font-family: 'Lato'
  font-size: 14px

//container
.container
  margin: 0 auto
  max-width: 1170px

//atom
.atom
  padding: 10px
  margin: 20px
  border: 1px solid #ccc

//newsletter
.newsletter
  margin: 40px auto
  position: relative
  width: 870px
  padding: 50px 60px
  background: url('../img/bg-newsletter.jpg')
  color: $white

  &__in
    padding: 92px 0 56px 0
    text-align: center

  &__title
    font-size: 48px

  &__descr
    font-size: 15px

  &__descr span
    color: $orangeT

//input
.input
  background: none
  border: 1px solid rgba(255, 255, 255, .3)
  font-size: 13px
  font-weight: 500
  color: $inputT

  &__black
    width: 100%
    padding: 12px 16px

  &__small
    width: 100%
    padding: 10px 16px
    border: none
    background-color: $footerForm

//buttons
.btn
  display: inline-block
  font-size: 14px
  color: $white
  background-color: $orangeB
  cursor: pointer
  transition: all 0.2s ease-in
  
  &:hover
    background-color: $blackB

  &_std
    text-transform: uppercase
    border-radius: 30px
    padding: 11px 32px

  &_square
    padding: 13px 0 12px 0
    font-size: 15px
    font-weight: 500
    width: 100%

    & i
      margin: 0 4px 0 0

  &_close
    position: absolute
    top: 0
    right: 0
    padding-right: 8px
    font-size: 25px
    font-weight: 600
    z-index: 1
    //overflow: hidden

    &:before
      content: ''
      position: absolute
      top: -39px
      right: -36px
      background-color: $orangeB
      padding: 55px 30px 55px 35px
      z-index: -1
      transform: rotate(-45deg)
  
  &_find
    cursor: pointer
    display: inline-block
    width: 180px
    height: 50px
    background: url('../img/bg-btn.png')

  &_nav
    display: none
    padding: 9px 14px
    border-radius: 2px
    cursor: pointer
    width: 100%
    color: $white
    text-transform: uppercase
    font-weight: 600
    background-color: $orangeT
    & i
      display: inline-block
      margin-right: 5px
    +r(1024)
      display: block

  &_white
    width: 50px
    height: 50px
    line-height: 50px
    text-align: center
    background-color: $white
    color: $black
    font-size: 16px
    &:hover
      background-color: $orangeB
      color: $white

  &_small
    background-color: $orangeT
    width: 35px
    height: 35px
    border-radius: 2px

  &_bg-none
    border: 1px solid $greyTopT
    color: #999
    text-transform: uppercase
    background: none
    border-radius: 30px
    padding: 11px 32px
    &:hover
      color: $white
      background-color: $blackB

  &_big
    font-size: 15px

  &_cart
    width: 40px
    height: 40px
    line-height: 40px
    border: 1px solid $white
    border-radius: 50px
    background: transparent
    &:hover
      color: $blackB
      background-color: $white

//subscribe
.subscribe
  position: relative
  padding-top: 40px
  margin: 0 auto
  max-width: 400px

  &__action
    margin-top: 21px

  &_footer

    .subscribe__action
      position: absolute
      bottom: 0
      right: 0

//ico
.ico
  display: inline-block
  font-size: inherit

  &_eng
    width: 16px
    height: 11px
    background: url('../img/eng.png') no-repeat

  &_pol
    width: 16px
    height: 11px
    background: url('../img/pl.png') no-repeat

//top-menu
.top-menu
  background-color: $bgcTop
  +clr()
  +r(768)
    display: table
  +r(603)
    text-align: center

  &__left
    float: left
    +r(768)
      display: table-cell
    +r(603)
      width: 100%

  &__right
    float: right
    +r(768)
      display: table-cell
    +r(603)
      width: 100%

  &__list
    display: inline-block

  &__el
    display: inline-block
    border-right: 1px solid #333
    &:first-child
      border-left: 1px solid #333
      +r(768)
        border: none
    +r(768)
      border: none


  &__link
    display: inline-block
    padding: 12px 20px 13px 20px
    text-transform: uppercase
    color: $greyTopT

    &:hover
      color: $orangeT
      .top-menu__count
        color: $white
        background-color: $orangeT
        border-color: $orangeT

  &__count
    display: inline-block
    padding: 0 6px 1px 6px
    margin-left: 9px
    border: 1px solid #333
    border-radius: 2px
    transition: all 0.2s ease-in

//drop-down
.drop-down


  &__lang, &__curr
    display: none
    position: absolute
    padding: 14px 0
    background: $white
    border-radius: 2px

    & span
      cursor: pointer
      padding: 3px 40px 3px 20px
      display: block
      &:hover
        background-color: #f7f7f7

      & i
        margin: 0 5px 0 0

//top-line
.top-line
  background-color: $bgcTop

//header
.header
  padding-top: 35px
  background-color: $bgcNav
  +r(1024)
    padding-top: 0

  &__in
    +clr()
    +r(1024)
      padding: 45px 20px
  &__left
    float: left
    +r(1024)
      width: 30%
    +r(768)
      text-align: center
      float: none
      width: 100%

  &__right
    float: right
    +r(1024)
      width: 70%
    +r(768)
      padding-top: 25px
      float: none
      width: 100%

//logo
.logo

  &__link
    display: inline-block

  &__descr
    font-size: 15px
    margin-top: 18px

//nav
.nav
  display: block
  background-color: $bgcNav
  +clr()
  +r(1024)
    display: none

  &__list
    display: inline-block
    float: right

  &__el
    display: inline-block
    margin-left: 35px

  &__link
    display: inline-block
    font-size: 16px
    color: $white
    padding: 5px 0 37px 0
    border-bottom: 3px solid transparent
    text-transform: uppercase

    &:hover
      color: $orangeT
      border-color: $orangeT
    &_active
      color: $orangeT
      border-color: $orangeT

//search
.search
  display: inline-block
  color: $greyTopT
  transition: all 0.2s ease-in
  &:hover
    color: $white

  &__ico
    position: relative
    top: -2px
    left: -2px

//promo
.promo
  position: relative
  width: 100%
  max-height: 790px
  height: 790px
  background: url('../img/goshop-1.png')
  background-repeat: no-repeat
  background-size: cover

  &__img
    width: 100%
    &_big
      width: 550px
      height: 270px

  &__big
    position: absolute
    bottom: 275px
    left: 445px
  &__small
    position: absolute
    bottom: 9px
    left: 230px

//promo-item
.promo-item
  +clr()
  &__el
    position: relative
    float: left
    display: block
    width: 33.33333%
    +r(768)
      width: 100%


  &__img
    display: block
    width: 100%

  &__descr
    color: $white
    position: absolute
    width: 220px
    top: 107px
    right: 32px
    +r(1270)
      top: 55px
    +r(1024)
      right: 0px
      top: 35px
    +r(768)
      top: 50px
      right: 50px

    &_center
      right: 82px

    &_left
      right: 0
      left: 45px
      +r(768)
        top: 50px
        left: 50px


    & p
      font-size: 17px
      margin: 4px 0 46px 0
      +r(850)
        margin: 4px 0 20px 0
      +r(768)
        margin: 4px 0 46px 0

  &__title
    text-transform: uppercase
    font-size: 39px
    font-weight: 800
    +r(1024)
      font-size: 25px
    +r(768)
      font-size: 39px

  &__color
    margin-left: 7px
    font-family: Roboto Slab
    font-weight: 300
    font-size: 31px
    line-height: 54px
    vertical-align: top
    text-transform: none
    +r(1024)
      font-size: 21px
      line-height: 35px
    +r(768)
      font-size: 31px
      line-height: 54px

    &_one
      color: $promoItemOne
    &_two
      color: $promoItemTwo
    &_three
      color: $promoItemThree
    &_four
      color: $promoItemFour
    
//limited
.limited
  background: url(../img/bg-offer.jpg) top center no-repeat

  &__btn
    padding: 790px 0 30px

  &__countdown
    margin: 0 auto
    max-width: 630px

    & .countdown-section
      border-left: 1px solid #e9e9e9
      &:first-child
        border: none

    & .is-countdown
      border: none
      background: transparent

    & .countdown-amount
      font-family: "Roboto Slab"
      font-size: 32px
      font-weight: 500
      +r(640)
        font-size: 25px

    & .countdown-period
      display: inline-block
      margin-left: 3px
      text-transform: uppercase
      font-style: italic
      font-size: 12px
      color: $orangeNews
      +r(640)
        font-size: 8px

//title-section
.title-section
  display: inline-block
  margin: 89px auto 61px
  background: url('../img/bg-section.png') top center no-repeat
  text-align: center

  &__title
    padding-top: 31px
    font-size: 34px
    font-weight: 600
    text-transform: uppercase

  &__orange
    color: $orangeTitleSection
    
  & p
    margin-top: 5px
    font-family: Playball
    font-size: 22px
    color: $greylight

//filter
.filter

  &__el
    display: inline-block
    &:before
      content: '•'
      color: $greylight
      padding: 0 9px
    &:first-child
      &:before
        content: ''

  &__link
    color: $greylight
    text-transform: uppercase
    font-weight: 600
    font-size: 15px
    &_active
      color: $filterActive

//btn-group
.btn-group

  & ul
    display: inline-block

  & li
    display: inline-block
    padding-right: 7px

//products
.products
  margin-top: 55px

  &__el
    display: inline-block
    margin: 0 13px 20px

//product
.product
  position: relative
  display: inline-block
  text-align: center

  &__top
    position: relative
    margin-bottom: 21px


    & a
      display: inline-block

    & img
      width: 100%
      box-sizing: border-box
      border-bottom: 3px solid transparent
      transition: all 0.2s ease-in

  &__btns
    display: none
    position: absolute
    top: 120px
    left: 50px

  &__bottom
    font-family: Roboto

    h4
      font-size: 17px
      font-weight: 400
      text-transform: uppercase
      margin-bottom: 8px

  &__price
    margin: 0 5px

    &_new
      color: $orangeT
    &_old
      text-decoration: line-through
      color: $greylight

  &:hover
    .product__top img
      opacity: 0.3
      border-bottom: 3px solid $orangeT
      background: rgba(255, 255, 255, .70)
    .product__btns
      display: block

//social
.social
  margin-top: 20px

  &__list
    display: inline-block

  &__el
    margin: 0 2px
    display: inline-block

  &__link
    display: block
    width: 32px
    height: 32px
    padding: 5px 0
    text-align: center
    color: $socialIco
    font-size: 15px
    border: 1px solid $socialIco
    border-radius: 30px
    &:hover
      color: $white
      background-color: $orangeTitleSection
      border-color: $orangeTitleSection

//contacts
.contacts
  padding-top: 1px
  background: url("../img/bg-address.jpg")
  background-position: top right
  background-attachment: scroll
  background-repeat: no-repeat
  +r(1024)
    background: $footerBg

  &__box
    margin: 81px auto 69px auto
    max-width: 800px
    padding: 55px 0 95px
    background-color: $footerBg
    color: $greylight
    font-size: 17px
    line-height: 1.9

  &__logo
    margin-bottom: 5px

  & img
    margin: 33px 0 8px

  & h3
    margin-bottom: 15px
    text-transform: uppercase
    color: $white
    font-weight: bold
    font-size: 21px

//footer
.footer

  &__in
    +r(1192)
      padding: 0 20px

  padding: 65px 0
  background-color: $footerBg
  color: $greylight

  &__row
    +clr()
    margin: 0 -15px

  &__col
    padding: 0 15px
    width: 25%
    float: left
    +r(850)
      width: 50%
      margin-bottom: 20px
    +r(500)
      width: 100%
    
//copyright
.copyright
  padding: 30px 0
  text-align: center
  background-color: $copyBg

  p
    font-size: 15px
    font-weight: 400
    color: $socialIco

  a
    color: $orangeTitleSection

//vertical-list
.vertical-list
  padding: 8px 0

  &__title
    color: $white
    font-size: 16px
    font-weight: bold
    margin-bottom: 22px
    text-transform: uppercase

  &__link
    display: block
    color: $greylight
    font-family: Roboto
    font-size: 15px
    padding: 3px 0
    &:hover
      color: $white

//choose-bike
.choose-bike
  padding-bottom: 90px
  font-family: Roboto
  background: url("../img/bg-choose-bike.jpg") top center repeat scroll

  &__in
    position: relative

  &__round
    position: relative
    height: 365px

  &__img img
    display: block
    width: 100%

  &__item
    width: 220px

  &__title
    color: $blackB
    text-transform: uppercase
    font-size: 24px
    font-weight: bold

  &__price
    font-size: 15px
    color: $greylight

    & span
      color: $orangeNews

  &__buttons
    position: absolute
    top: 50%
    left: 5px
    right: 5px

  &__btn
    position: absolute
    top: 0
    cursor: pointer
    padding: 10px 12px
    font-size: 15px
    border: 1px solid #eee
    transition: all 0.2s ease-in
    &:hover
      background: rgba(0,0,0, 0.1)
    &_prev
      left: 0
    &_next
      right: 0

  &__link
    margin-top: 70px

//partners
.partners
  background-color: transparentize($darkBlack, .8)
  padding: 23px 0

  &__ul
    width: 100%

  &__el
    display: inline-block
    width: 19.7%
    border-left: 1px solid rgba(255, 255, 255, .09)
    box-sizing: border-box
    &:first-child
      border: none
    +r(850)
      width: 33.33%
      border: none
    +r(500)
      width: 100%

    & a
      display: block

    & img
      margin: 0 auto
      opacity: 0.3
      transition: all 0.2s ease-in
      &:hover
        opacity: 1

//news
.news
  background-color: $bgNews

  &__list
    padding: 5px 0 166px
    +r(680)
      padding-left: 20px
      padding-right: 20px

  &__el
    +clr()
    display: inline-block
    width: 33%
    padding: 42px 15px 0
    +r(680)
      width: 100%


  &__item
    +clr()

  &__left
    float: left
    width: 20%
    font-family: "Roboto Slab"
    color: $white
    text-transform: uppercase
    +r(1024)
      width: 25%
    +r(850)
      width: 35%
    +r(680)
      width: 20%

  &__right
    float: left
    width: 80%
    text-align: left
    +r(1024)
      width: 75%
    +r(850)
      width: 65%
    +r(680)
      width: 80%

  &__date
    padding-top: 5px
    width: 60px
    height: 60px
    background-color: $orangeNews

  &__big
    font-weight: bold
    font-size: 19px

  &__small
    font-size: 15px

  &__count
    padding-top: 5px
    width: 60px
    height: 60px
    background-color: $greyNews

  &__more
    font-size: 12px
    font-weight: bold
    color: $orangeNews
    cursor: pointer
    text-transform: uppercase
    transition: all 0.2s ease-in
    &:hover
      padding-left: 5px
      color: $greyNews

  &__tags
    font-size: 14px
    color: $greySoftNews

    & li
      cursor: pointer
      display: inline-block
      transition: all 0.2s ease-in
      &:last-child
        &:before
          content: '|'
          padding: 0 16px
      &:hover
        color: $black

  &__title
    padding-bottom: 12px
    & a
      font-size: 19px
      color: $lightGreyNews
      &:hover
        color: $orangeNews
      +r(1024)
        font-size: 14px
      +r(680)
        font-size: 19px

//offers
.offers
  padding-bottom: 130px

  a
    display: block

  img
    border-right: 1px solid #eee

  &__el
    display: inline-block
    padding: 45px 15px 0

  &__item
    +clr()

  &__left
    float: left

  &__right
    float: left
    text-align: left
    margin-left: 20px

  &__title
    padding-top: 28px
    font-family: Playball
    font-size: 18px
    color: $greylight

  &__model
    padding-top: 6px
    font-family: Roboto
    text-transform: uppercase
    font-size: 17px
    &:hover
      color: $orangeNews
      
  &__price
    padding-top: 3px
    font-family: Roboto
    font-size: 15px
    color: $greylight

    &_new
      color: $orangeNews

//found-bike
.found-bike
  padding: 49px 0 45px
  background-color: $socialIco
  +r(1180)
    padding-left: 20px
    padding-right: 20px

  &__in
    +clr

  &__left
    float: left
    +r(850)
      width: 100%

  &__right
    float: right
    +r(850)
      width: 100%
      margin-top: 30px
    
    & span
      margin: 3px 5px 0 27px

  &__header
    font-size: 28px
    color: $white
    line-height: 1

    & span
      color: $orangeNews
      font-weight: 800

  &__descr
    padding-top: 10px
    color: $greyTopT
    font-size: 17px
    line-height: 1

//reviews
.reviews
  padding: 103px 60px
  background: url('../img/bg-reviews.jpg') top center no-repeat
  +r(768)
    display: none

  &__item
    padding: 0 200px
    text-align: center
    color: $white
    opacity: 0.85
    +r(1024)
      padding: 0 100px

  &__title
    text-transform: uppercase
    font-size: 34px
    font-weight: bold

  &__second-title
    font-family: Playball
    font-size: 22px
    padding-bottom: 42px

  &__quote
    font-size: 19px
    font-style: italic
    padding-bottom: 51px


  &__sig
    font-size: 17px

    & span
      text-transform: uppercase

  & .owl-buttons
    position: absolute
    left: -15px
    right: -15px
    top: 70px

    & div.owl-next, div.owl-prev
      padding: 3px 10px
      position: absolute
      top: 0
      border: 1px solid rgba(255, 255, 255, .09)
      border-radius: 0

    .owl-prev
      left: 0
    .owl-next
      right: 0

  .owl-theme .owl-controls .owl-buttons div
    background: none



//featured
.featured
  +r(680)
    display: none

  &__in
    +clr

  &__item
    position: relative
    width: 25%
    float: left
    &:hover
      .featured__descr
        display: block
    +r(880)
      width: 50%
    +r(680)

  &__img img
    display: block
    width: 100%
    margin: 0 auto

  &__descr
    transition: all 0.2s ease-in
    display: none
    text-align: center
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(238, 78, 34, .93)

  &__info
    position: absolute
    top: 50%
    margin-top: -74px
    margin-left: 65px
    color: $white
    text-align: center
    +r(1320)
      margin-left: 40px
    +r(880)
      margin-left: 90px


  &__brand
    padding-top: 15px
    font-family: Playball
    font-size: 22px

  &__model
    padding-top: 8px
    color: $white
    font-family: "Roboto Slab"
    font-size: 24px
    text-transform: uppercase
    +r(1180)
      font-size: 20px
    +r(1024)
      font-size: 16px
    +r(880)
      font-size: 24px
    +r(810)
      font-size: 20px

  &__price
    padding-top: 6px
    font-family: "Roboto Slab"
    font-size: 17px

//discount
.discount
  +clr
  position: relative
  text-align: left
  color: $discountBlack

  &__center
    position: absolute
    padding: 0 28px
    left: 43.2%
    top: 45%
    height: 40px
    line-height: 40px
    transform: rotate(-90deg)
    text-transform: uppercase
    border-radius: 40px
    font-family: Roboto
    font-weight: 500
    color: $greylight
    background-color: $white
    z-index: 1
    +r(1400)
      display: none

  &__left
    position: relative
    float: left
    width: 50%
    background: #f8f8f8 url("../img/promotion-1.jpg") bottom center no-repeat
    +r(820)
      width: 100%

  &__right
    float: left
    width: 50%
    background: #f0f0f0 url("../img/promotion-2.jpg") bottom center no-repeat
    +r(820)
      width: 100%

  &__info
    display: inline-block
    position: relative
    padding: 141px 84px
    +r(640)
      padding: 141px 30px

    &_right
      float: right

  &__name
    font-family: Playball
    font-size: 22px
    +r(1024)
      font-size: 18px

  &__big
    font-size: 42px
    font-weight: 80
    +r(1024)
      font-size: 30px
    & span
      font-family: "Roboto Slab"
      font-size: 38px
      font-weight: 300
      color: $orangeNews
      vertical-align: top
      +r(1024)
        font-size: 30px

  &__details
    padding-top: 11px
    font-size: 15px
    line-height: 2

    & li
      &:before
        content: '• '

  &__buttons
    padding-top: 47px
    font-size: 14px
    font-weight: bold
    text-transform: uppercase
    color: $blackB
    +r(1024)
      padding-top: 25px

    li
      border-left: 1px solid #ddd
      display: inline-block
      &:first-child
        border: none

    span
      cursor: pointer
      display: block
      padding: 7px 14px
      transition: all 0.2s ease-in
      &:hover
        color: $orangeNews

//owl
.footer

  .owl-footer
    padding: 65px 45px 0 45px
    margin-top: 85px
    border-top: 1px solid $blackB

    & img
      opacity: 0.25
      transition: all 0.2s ease-in
      &:hover
        opacity: 1

  .owl-buttons
    position: absolute
    left: -15px
    right: -15px
    top: 70px

    .owl-prev
      position: absolute
      top: 0
      left: 0
    .owl-next
      position: absolute
      top: 0
      right: 0

  .owl-theme .owl-controls .owl-buttons div
    background: none

  .owl-item
    width: 139px !important
    