//general
body
  font-family: 'Lato'
  font-size: 14px

//container
.container
  margin: 0 auto
  max-width: 1170px

//atom
.atom
  padding: 10px
  margin: 20px
  border: 1px solid #ccc

//newsletter
.newsletter
  margin: 40px auto
  position: relative
  width: 870px
  padding: 50px 60px
  background-image: url(/img/bg-newsletter.jpg)
  color: $white

  &__in
    padding: 92px 0 56px 0
    text-align: center

  &__title
    font-size: 48px

  &__descr
    font-size: 15px

  &__descr span
    color: $orangeT

//input
.input
  background: none
  border: 1px solid rgba(255, 255, 255, .3)
  font-size: 13px
  font-weight: 500
  color: $inputT

  &__black
    width: 100%
    padding: 12px 16px

//buttons
.btn
  display: inline-block
  font-size: 14px
  color: $white
  background-color: $orangeB
  cursor: pointer
  transition: all 0.2s ease-in
  
  &:hover
    background-color: $blackB

  &_std
    text-transform: uppercase
    border-radius: 30px
    padding: 11px 32px

  &_square
    padding: 13px 0 12px 0
    font-size: 15px
    font-weight: 500
    width: 100%

    & i
      margin: 0 4px 0 0

  &_close
    position: absolute
    top: 0
    right: 0
    padding-right: 8px
    font-size: 25px
    font-weight: 600
    z-index: 1
    //overflow: hidden

    &:before
      content: ''
      position: absolute
      top: -39px
      right: -36px
      background-color: $orangeB
      padding: 55px 30px 55px 35px
      z-index: -1
      transform: rotate(-45deg)
  
  &_find
    cursor: pointer
    display: inline-block
    width: 180px
    height: 50px
    background-image: url(/img/bg-btn.png)

  &_nav
    display: none
    padding: 9px 14px
    border-radius: 2px
    cursor: pointer
    width: 100%
    color: $white
    text-transform: uppercase
    font-weight: 600
    background-color: $orangeT
    & i
      display: inline-block
      margin-right: 5px
    +r(1024)
      display: block

  &_white
    width: 50px
    height: 50px
    line-height: 50px
    text-align: center
    background-color: $white
    color: $black
    font-size: 16px
    &:hover
      background-color: $orangeB
      color: $white

//subscribe
.subscribe
  padding-top: 40px
  margin: 0 auto
  max-width: 400px

  &__action
    margin-top: 21px

//top-menu
.top-menu
  background-color: $bgcTop
  +clr()
  +r(768)
    display: table
  +r(603)
    text-align: center

  &__left
    float: left
    +r(768)
      display: table-cell
    +r(603)
      width: 100%

  &__right
    float: right
    +r(768)
      display: table-cell
    +r(603)
      width: 100%

  &__list
    display: inline-block

  &__el
    display: inline-block
    border-right: 1px solid #333
    &:first-child
      border-left: 1px solid #333
      +r(768)
        border: none
    +r(768)
      border: none


  &__link
    display: inline-block
    padding: 12px 20px 13px 20px
    text-transform: uppercase
    color: $greyTopT
    transition: all 0.2s ease-in

    &:hover
      color: $orangeT
      .top-menu__count
        color: $white
        background-color: $orangeT
        border-color: $orangeT

  &__count
    display: inline-block
    padding: 0 6px 1px 6px
    margin-left: 9px
    border: 1px solid #333
    border-radius: 2px
    transition: all 0.2s ease-in

//top-line
.top-line
  background-color: $bgcTop

//header
.header
  padding-top: 35px
  background-color: $bgcNav
  +r(1024)
    padding-top: 0

  &__in
    +clr()
    +r(1024)
      padding: 45px 20px
  &__left
    float: left
    +r(1024)
      width: 30%
    +r(768)
      text-align: center
      float: none
      width: 100%

  &__right
    float: right
    +r(1024)
      width: 70%
    +r(768)
      padding-top: 25px
      float: none
      width: 100%

//logo
.logo

  &__link
    display: inline-block

//nav
.nav
  display: block
  background-color: $bgcNav
  +clr()
  +r(1024)
    display: none

  &__list
    display: inline-block
    float: right

  &__el
    display: inline-block
    margin-left: 35px

  &__link
    display: inline-block
    font-size: 16px
    color: $white
    padding: 5px 0 37px 0
    border-bottom: 3px solid transparent
    transition: all 0.2s ease-in
    text-transform: uppercase

    &:hover
      color: $orangeT
      border-color: $orangeT
    &_active
      color: $orangeT
      border-color: $orangeT

//choose-bike
.choose-bike


//search
.search
  display: inline-block
  color: $greyTopT
  transition: all 0.2s ease-in
  &:hover
    color: $white

  &__ico
    position: relative
    top: -2px
    left: -2px

//promo
.promo
  position: relative
  width: 100%
  max-height: 790px
  height: 790px
  background-image: url(/ninethemes/build/img/goshop-1.png)
  background-repeat: no-repeat
  background-size: cover

  &__img
    width: 100%
    &_big
      width: 550px
      height: 270px

  &__big
    position: absolute
    bottom: 275px
    left: 445px
  &__small
    position: absolute
    bottom: 9px
    left: 230px

//promo-item
.promo-item
  +clr()
  &__el
    position: relative
    float: left
    display: block
    width: 33.33333%
    +r(768)
      width: 100%


  &__img
    display: block
    width: 100%

  &__descr
    color: $white
    position: absolute
    width: 220px
    top: 107px
    right: 32px
    +r(1270)
      top: 55px
    +r(1024)
      right: 0px
      top: 35px
    +r(768)
      top: 50px
      right: 50px

    &_center
      right: 82px

    &_left
      right: 0
      left: 45px
      +r(768)
        top: 50px
        left: 50px


    & p
      font-size: 17px
      margin: 4px 0 46px 0
      +r(850)
        margin: 4px 0 20px 0
      +r(768)
        margin: 4px 0 46px 0

  &__title
    text-transform: uppercase
    font-size: 39px
    font-weight: 800
    +r(1024)
      font-size: 25px
    +r(768)
      font-size: 39px

  &__color
    margin-left: 7px
    font-family: Roboto Slab
    font-weight: 300
    font-size: 31px
    line-height: 54px
    vertical-align: top
    text-transform: none
    +r(1024)
      font-size: 21px
      line-height: 35px
    +r(768)
      font-size: 31px
      line-height: 54px

    &_one
      color: $promoItemOne
    &_two
      color: $promoItemTwo
    &_three
      color: $promoItemThree
    &_four
      color: $promoItemFour

//title-section
.title-section
  display: inline-block
  margin: 89px auto 61px
  background: url(/img/bg-section.png) top center no-repeat
  text-align: center

  &__title
    padding-top: 31px
    font-size: 34px
    font-weight: 600
    text-transform: uppercase

  &__orange
    color: $orangeTitleSection
    
  & p
    margin-top: 5px
    font-family: Playball
    font-size: 22px
    color: $greylight

//filter
.filter

  &__list

  &__el
    display: inline-block
    &:before
      content: '•'
      color: $greylight
      padding: 0 9px
    &:first-child
      &:before
        content: ''

  &__link
    color: $greylight
    text-transform: uppercase
    font-weight: 600
    font-size: 15px
    &_active
      color: $filterActive

//btn-group
.btn-group

  & ul
    display: inline-block

  & li
    display: inline-block
    padding-right: 7px

//products
.products
  margin-top: 55px

  &__el
    display: inline-block
    margin: 0 13px

//product
.product
  position: relative
  display: inline-block
  text-align: center

  &__top
    position: relative
    margin-bottom: 21px


    & a
      display: inline-block

    & img
      width: 100%
      box-sizing: border-box
      border-bottom: 3px solid transparent
      transition: all 0.2s ease-in

  &__btns
    display: none
    position: absolute
    top: 120px
    left: 50px


  &__bottom
    font-family: Roboto

    h4
      font-size: 17px
      font-weight: 400
      text-transform: uppercase
      margin-bottom: 8px

  &__price
    margin: 0 5px

    &_new
      color: $orangeT
    &_old
      text-decoration: line-through
      color: $greylight

  &:hover
    .product__top img
      opacity: 0.3
      border-bottom: 3px solid $orangeT
      background: rgba(255, 255, 255, .70)
    .product__btns
      display: block